É preferível usar tuplas com dados heterogêneos  
Se for dados homogêneos, então usa uma lista mesmo  
Se for dados heterogêneos, então usa uma tupla

In [1]:
#criando tuplas e listas
lista = ['Alexandre', 26, 'Outubro', 1997]
tupla = ('Alexandre', 26, 'Outubro', 1997)

Atribuindo valores de uma lista a variáveis e então alterando os valores dessa lista  
Primeiro altera os valores e depois atribui novamente as variáveis  
Se você altera os valores de uma lista 1 vez, já era, não dá pra voltar atrás.  
Aí para ficar alterando você vai ter que fazer novas alterações ou rodar a lista original denovo

In [19]:
#atribuindo diferentes itens da lista a diferentes variáveis 
nome = lista[0] 
idade = lista[1]
mes_nascimento = lista[2]
ano_nascimento = lista[3]


#alterando valores de uma lista
lista[0] = 'Arthur'
lista[1]= 10
lista[2] = 'Maio'
lista[3] = 2014
#Alterei os valores da lista, mas esses valores ainda não foram atribuidos nas variaveis nome, idade, mes e ano

print(lista)
print(nome, idade, mes_nascimento, ano_nascimento)

['Arthur', 10, 'Maio', 2014]
Alexandre 26 Outubro 1997

Atribuindo valores de uma tupla a variáveis individuais

In [ ]:
# atribuindo diferentes itens da tupla a diferentes variáveis
nome = tupla[0]
idade = tupla[1]
mes_nascimento = tupla[2]
ano_nascimento = tupla[3]
print(nome, idade, mes_nascimento, ano_nascimento)

# Fazendo unpack de tuplas  
Unpack é basicamente você atribuir todos os itens de uma tupla a respectivas variáveis  
A qtdade de itens da tupla e de variáveis deve ser exatamente a mesma, senão o python vai dar erros  
unpack pode ser usado com listas também

In [9]:
tupla2 =('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')
nome_obra, ano_lancamento, qtd_capitulos, genero, revista = tupla2

print(nome_obra, ano_lancamento, qtd_capitulos, genero, revista)

Hunter x Hunter 1998 400 Shounen Shounen Jump

In [1]:
lista3 = ['Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump']
nome_obra, ano_lancamento, qtd_capitulos, genero, revista = lista3

print(nome_obra, ano_lancamento, qtd_capitulos, genero, revista)

Hunter x Hunter 1998 400 Shounen Shounen Jump

# Usando enumerate()

`enumerate()`vai enumerar os itens de uma lista ou tupla

In [3]:
#criando lista só pra testar o enumerate
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

#usando enumerate com listas
for item in enumerate(vendas):
    print(item)

print()

tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')
#usando enumerate com tuplas
for item in enumerate(tupla2):
    print(item)

(0, 1000)
(1, 500)
(2, 155)
(3, 300)
(4, 987)

(0, 'Hunter x Hunter')
(1, 1998)
(2, 400)
(3, 'Shounen')
(4, 'Shounen Jump')

# Combinando unpacking com enumerate()  
Aqui usamos o unpacking de LISTAS para printar o número de cada item da nossa lista  
O número de cada item foi gerado por causa do enumerate()  
O enumerate() retorna uma tupla com 2 valores, o número e o item original da lista. Uma tupla com esses 2 valores é criada para cada item da lista

Usando enumerate + unpack de LISTAS

In [49]:
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

# forma menos ideal de fazer o código:
for item in enumerate(vendas):
    e1, venda = item #atribuir o output do enumerate em i e 1 item da lista em vendas, e faz isso a cada iteração
    print(f'O funcionário {funcionarios[e1]} teve {venda} vendas')

O funcionário Lira teve 1000 vendas
O funcionário Claudia teve 500 vendas
O funcionário Roberto teve 155 vendas
O funcionário Ana teve 300 vendas
O funcionário Beatriz teve 987 vendas

In [47]:
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

# forma mais elegante de fazer o código:
for i, numero_vendas in enumerate(vendas):
    print(f'O funcionário {funcionarios[i]} vendeu {numero_vendas}')

O funcionário Lira vendeu 1000
O funcionário Claudia vendeu 500
O funcionário Roberto vendeu 155
O funcionário Ana vendeu 300
O funcionário Beatriz vendeu 987

Enumerate + unpack TUPLAS

In [32]:
tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')

#forma menos ideal de código
for i in enumerate(tupla2):
    enumerador2, tupla_item = i
    print(enumerador2)
    print(tupla_item)

0
Hunter x Hunter
1
1998
2
400
3
Shounen
4
Shounen Jump

In [50]:
tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')

#forma elegante - imprimindo cada item de forma individual da tupla
for enumerador, manga_info in enumerate(tupla2):
    print(tupla2[enumerador])

Hunter x Hunter
1998
400
Shounen
Shounen Jump

# Unpacking de lista com várias tuplas

É possível criar uma lista que tenha várias tuplas como cada item dessa lista.  
Não se esqueça de usar as vírgulas entre as tuplas e usar vírgula na ÚLTIMA TUPLA

In [2]:
vendas = [
    ('20/08/2024', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2024', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2024', 'ipad', 'azul', '256gb', 127, 6000),
    ('20/08/2024', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2024', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2024', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2024', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2024', 'ipad', 'prata', '128gb', 4000, 5000),
]

Multiplicando itens de uma tupla direto pelo índice  
Como a estrutura vendas é uma lista que possui uma tupla, ou seja, 2 dimensões, eu precisei passar 2 índices:

In [15]:
faturamento = vendas[0][4] * vendas[0][5]
print(f'Faturamento da primeira tupla: {faturamento}')

Faturamento da primeira tupla: 1400000

Só que fazer dessa forma não é muito intuitivo, pois não vamos saber quem estamos multiplicando.  
Por isso que nesses casos recomenda-se o unpacking  
Vamos fazer o unpacking seletivo, ou seja, apenas de um elemento da lista  
Como é uma lista de tuplas, abaixo fizemos o unpacking apenas da primeira tupla

In [19]:
data, produto, cor, capacidade, unidades, preco = vendas[0]
print(vendas[0])
faturamento = unidades * preco
print(faturamento)

('20/08/2024', 'iphone x', 'azul', '128gb', 350, 4000)
1400000

Fazendo o unpacking dessa lista, onde vamos armazenas cada valor das tuplas em uma variável principal.  
Exemplo: todos os valores de cores vai ser armazenado em uma variável chamada "cor"  
Lembrando que para o unpacking dar certo, a quantidade de variáveis deve ser a mesma quantidade de ITENS de cada tupla

Usando o unpacking de tuplas para calcular o faturamento do iphone no dia 20/08/2024

In [6]:
faturamento = 0
for item in vendas:
    data, produto, cor, armazenamento, unidades_vendidas,preco = item
    if produto == 'iphone x' and data == '20/08/2024':
        faturamento += unidades_vendidas * preco
print(faturamento)

7400000

Usando o unpacking de tuplas para identificar qual foi o produto mais vendido no dia 21/08/2024

In [12]:
# código que eu fiz

contador = 0
contador2 = 0
for item in vendas:
    data, produto, cor, armazenamento, unidades_vendidas,preco = item
    if produto == 'iphone x' and data == '21/08/2024':
        contador += unidades_vendidas
    if produto == 'ipad' and data == '21/08/2024':
        contador2 += unidades_vendidas
print(f'Quantidade vendidas de iphone: {contador}')
print(f'Quantidade vendidas de ipad: {contador2}')
if contador2 > contador:
    print('O produto mais vendido foi o Ipad')
else:
    print('O produto mais vendido foi o Iphone x')

Quantidade vendidas de iphone: 1414
Quantidade vendidas de ipad: 4050
O produto mais vendido foi o Ipad

In [13]:
# correção da hashtag

faturamento = 0
qtde_produto_mais_vendido = 0
for item in vendas:
    data, produto, cor, armazenamento, unidades_vendidas, preco = item
    if data == '21/08/2024':
        if unidades_vendidas > qtde_produto_mais_vendido:
            produto_mais_vendido = produto
            qtde_produto_mais_vendido = unidades_vendidas
print(f'O produto mais vendido no dia 21/08/2024 foi o {produto} com {unidades_vendidas} unidades vendidas.')

O produto mais vendido no dia 21/08/2024 foi o ipad com 4000 unidades vendidas.

Agora vamos incluir a cor e a capacidade

In [22]:
# correção da hashtag

produto_mais_vendido = ''
qtde_produto_mais_vendido = 0
cor_produto_mais_vendido = ''
armazenamento_produto_mais_vendido = ''

for item in vendas:
    data, produto, cor, armazenamento, unidades_vendidas, preco = item
    if data == '21/08/2024':
        if unidades_vendidas > qtde_produto_mais_vendido:
            produto_mais_vendido = produto
            qtde_produto_mais_vendido = unidades_vendidas
            cor_produto_mais_vendido = cor
            armazenamento_produto_mais_vendido = armazenamento
print(f'O produto mais vendido no dia 21/08/2024 foi o {produto} com {unidades_vendidas} unidades vendidas.\nCor: {cor_produto_mais_vendido}\nArmazenamento: {armazenamento_produto_mais_vendido}')

O produto mais vendido no dia 21/08/2024 foi o ipad com 4000 unidades vendidas.
Cor: prata
Armazenamento: 128gb

Uma outra forma de fazer uma comparação é usar o `in`, veja:

In [20]:
contador = 0
contador2 = 0
for item in vendas:
    data, produto, cor, armazenamento, unidades_vendidas,preco = item
    if 'iphone' in produto and data == '21/08/2024':
        contador += unidades_vendidas
    if 'ipad' in produto and data == '21/08/2024':
        contador2 += unidades_vendidas
print(f'Quantidade vendidas de iphone: {contador}')
print(f'Quantidade vendidas de ipad: {contador2}')
if contador2 > contador:
    print('O produto mais vendido foi o Ipad')
else:
    print('O produto mais vendido foi o Iphone x')

Quantidade vendidas de iphone: 1414
Quantidade vendidas de ipad: 4050
O produto mais vendido foi o Ipad

É possível de fazer o unpacking direto nas variáveisdo for também:  
Isso vai te fazer economizar 1 linha de código

In [21]:
contador = 0
contador2 = 0
for data, produto, cor, armazenamento, unidades_vendidas,preco in vendas:
    if 'iphone' in produto and data == '21/08/2024':
        contador += unidades_vendidas
    if 'ipad' in produto and data == '21/08/2024':
        contador2 += unidades_vendidas
print(f'Quantidade vendidas de iphone: {contador}')
print(f'Quantidade vendidas de ipad: {contador2}')
if contador2 > contador:
    print('O produto mais vendido foi o Ipad')
else:
    print('O produto mais vendido foi o Iphone x')

Quantidade vendidas de iphone: 1414
Quantidade vendidas de ipad: 4050
O produto mais vendido foi o Ipad

Próxima aula: fazer exercícios de tupla