É preferível usar tuplas com dados heterogêneos  
Se for dados homogêneos, então usa uma lista mesmo  
Se for dados heterogêneos, então usa uma tupla

In [17]:
#criando tuplas e listas
lista = ['Alexandre', 26, 'Outubro', 1997]
tupla = ('Alexandre', 26, 'Outubro', 1997)

Atribuindo valores de uma lista a variáveis e então alterando os valores dessa lista  
Primeiro altera os valores e depois atribui novamente as variáveis  
Se você altera os valores de uma lista 1 vez, já era, não dá pra voltar atrás.  
Aí para ficar alterando você vai ter que fazer novas alterações ou rodar a lista original denovo

In [19]:
#atribuindo diferentes itens da lista a diferentes variáveis 
nome = lista[0] 
idade = lista[1]
mes_nascimento = lista[2]
ano_nascimento = lista[3]


#alterando valores de uma lista
lista[0] = 'Arthur'
lista[1]= 10
lista[2] = 'Maio'
lista[3] = 2014
#Alterei os valores da lista, mas esses valores ainda não foram atribuidos nas variaveis nome, idade, mes e ano

print(lista)
print(nome, idade, mes_nascimento, ano_nascimento)

['Arthur', 10, 'Maio', 2014]
Alexandre 26 Outubro 1997

Atribuindo valores de uma tupla a variáveis individuais

In [ ]:
# atribuindo diferentes itens da tupla a diferentes variáveis
nome = tupla[0]
idade = tupla[1]
mes_nascimento = tupla[2]
ano_nascimento = tupla[3]
print(nome, idade, mes_nascimento, ano_nascimento)

# Fazendo unpack de tuplas  
Unpack é basicamente você atribuir todos os itens de uma tupla a respectivas variáveis  
A qtdade de itens da tupla e de variáveis deve ser exatamente a mesma, senão o python vai dar erros  
unpack pode ser usado com listas também

In [9]:
tupla2 =('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')
nome_obra, ano_lancamento, qtd_capitulos, genero, revista = tupla2

print(nome_obra, ano_lancamento, qtd_capitulos, genero, revista)

Hunter x Hunter 1998 400 Shounen Shounen Jump

In [1]:
lista3 = ['Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump']
nome_obra, ano_lancamento, qtd_capitulos, genero, revista = lista3

print(nome_obra, ano_lancamento, qtd_capitulos, genero, revista)

Hunter x Hunter 1998 400 Shounen Shounen Jump

# Usando enumerate()

`enumerate()`vai enumerar os itens de uma lista ou tupla

In [3]:
#criando lista só pra testar o enumerate
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

#usando enumerate com listas
for item in enumerate(vendas):
    print(item)

print()

tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')
#usando enumerate com tuplas
for item in enumerate(tupla2):
    print(item)

(0, 1000)
(1, 500)
(2, 155)
(3, 300)
(4, 987)

(0, 'Hunter x Hunter')
(1, 1998)
(2, 400)
(3, 'Shounen')
(4, 'Shounen Jump')

# Combinando unpacking com enumerate()  
Aqui usamos o unpacking de LISTAS para printar o número de cada item da nossa lista  
O número de cada item foi gerado por causa do enumerate()  
O enumerate() retorna uma tupla com 2 valores, o número e o item original da lista. Uma tupla com esses 2 valores é criada para cada item da lista

Usando enumerate + unpack de LISTAS

In [49]:
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

# forma menos ideal de fazer o código:
for item in enumerate(vendas):
    e1, venda = item #atribuir o output do enumerate em i e 1 item da lista em vendas, e faz isso a cada iteração
    print(f'O funcionário {funcionarios[e1]} teve {venda} vendas')

O funcionário Lira teve 1000 vendas
O funcionário Claudia teve 500 vendas
O funcionário Roberto teve 155 vendas
O funcionário Ana teve 300 vendas
O funcionário Beatriz teve 987 vendas

In [47]:
vendas = [1000, 500, 155, 300, 987]
funcionarios = ['Lira', 'Claudia', 'Roberto', 'Ana', 'Beatriz']

# forma mais elegante de fazer o código:
for i, numero_vendas in enumerate(vendas):
    print(f'O funcionário {funcionarios[i]} vendeu {numero_vendas}')

O funcionário Lira vendeu 1000
O funcionário Claudia vendeu 500
O funcionário Roberto vendeu 155
O funcionário Ana vendeu 300
O funcionário Beatriz vendeu 987

Enumerate + unpack TUPLAS

In [32]:
tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')

#forma menos ideal de código
for i in enumerate(tupla2):
    enumerador2, tupla_item = i
    print(enumerador2)
    print(tupla_item)

0
Hunter x Hunter
1
1998
2
400
3
Shounen
4
Shounen Jump

In [50]:
tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')

#forma elegante - imprimindo cada item de forma individual da tupla
for enumerador, manga_info in enumerate(tupla2):
    print(tupla2[enumerador])

Hunter x Hunter
1998
400
Shounen
Shounen Jump

In [44]:
tupla2 = ('Hunter x Hunter', 1998, 400, 'Shounen', 'Shounen Jump')
tupla3 = ('Nome da obra', 'Ano de publicação', 'Qtdade de Capítulos', 'Gênero', 'Editora')

#forma elegante - imprimindo cada item de forma individual da tupla de acordo com a outra tupla
for enumerador, manga_info in enumerate(tupla2):
    print(tupla3[enumerador],':', manga_info)

Nome da obra : Hunter x Hunter
Ano de publicação : 1998
Qtdade de Capítulos : 400
Gênero : Shounen
Editora : Shounen Jump